popup.css body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 24px;
  color: #4caf50;
  margin-bottom: 20px;
  display: inline;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
a {
  all: unset;
}

td {
  padding: 8px;
  border: 1px solid #333;
  white-space: nowrap;
}
.deletebtn {
  padding: "5px 10px";
  background-color: red;
  color: "white";
  border: "none";
  cursor: "pointer";
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 48px;
}
/* Add styles for dark mode */
body.dark-mode {
  background-color: #1e1e1e;
  color: #d1d8cb;
}

body.dark-mode h1 {
  color: #4caf50;
}

body.dark-mode input[type="text"] {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

body.dark-mode button {
  background-color: #555;
  color: #ffffff;
}

body.dark-mode button:hover {
  background-color: #444;
}

body.dark-mode ul li {
  background-color: #2b2b2b;
  border-color: #444;
}

body.dark-mode .deletebtn {
  background-color: darkred;
}
